main {
  overflow: scroll;
}
.product-img {
  width: 24rem;
  height: 24rem;
  object-fit: contain;
}
.slide_img {
  width: 100rem;
  height: 25rem;
  object-fit: cover;
}
.img_container {
  display: flex;
  gap: 15rem;
  overflow-x: scroll;
}
/* .wishlist {
} */
.wishlist_count {
  z-index: 2;
  font-size: 1.4rem;
  position: absolute;
  right: -10%;
  bottom: 10%;
  background-color: #000000bc;
  color: #fff;
  border-radius: 10rem;
  padding: 0 0.8rem;
}
