main {
  overflow: scroll;
}
.product-img {
  width: 24rem;
  height: 24rem;
  object-fit: contain;
}
.slide_img {
  width: 100rem;
  height: 25rem;
  object-fit: cover;
}
.img_container {
  display: flex;
  gap: 15rem;
  overflow-x: scroll;
}
.wishlist {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0 0.6rem #0000007f;
  width: 50vw;
  height: 80vh;
  z-index: 10;
  overflow-y: scroll;
}
.disNone {
  display: none;
  z-index: 10;
}
.wishlist_count {
  z-index: 2;
  font-size: 1.4rem;
  position: absolute;
  right: -10%;
  bottom: 10%;
  background-color: #000000bc;
  color: #fff;
  border-radius: 10rem;
  padding: 0 0.8rem;
}
.favourite_img {
  width: 8rem;
  height: 5rem;
  object-fit: contain;
}
.favBox {
  padding: 0.3rem;
  background: #8dff585c;
  border: 0.1rem solid #000;
  padding: 1rem;
}
.fav_heading {
  font-size: 1.2rem;
}
.deleteItemFav {
  width: 3rem;
  height: auto;
}